/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/* 
Open Sans : 'Open Sans', sans-serif;
Inconsolata : 'Inconsolata', monospace;
Arial : Arial, sans-serif;
Quicksand : 'Quicksand', sans-serif;
*/

/*
Dark : #343A40;
Light : #F8F9FA;
Decor Dark : #495057;
Decor Light : #CED4DA;
Decor Yellow : #FFB400;
Decor Red : #EA5455;
*/

/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F9FA;
}
section {
    height: 100vh;
}
.section_title h2 {
    color: #343A40;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    padding-left: 80px;
}
.section_text {
    color: #343A40;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: justify;
}
.container {
    padding-top: 35vh;
}
/* home */
span {
    position: absolute;
    pointer-events: none;
    background: #EA5455;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: scale(1) translateY(-500%) rotate(360deg);
        opacity: 0;
    }
}
.home_title {
    padding-left: 80px;
    margin: 0;
    position: absolute;
    top: 40%;
}
.home_title p {
    color: #343A40;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
}
.home_title a {
    color: #343A40;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    text-decoration: none;
}

/* education */
.accordion {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
}
.accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    width: 100%;
    background: #343A40;
    border: none;
    outline: none;
    border-bottom: 1px solid #CED4DA;
    color: #F8F9FA;
    cursor: pointer;
  }  
.accordion-header.active {
    background-color: #495057;
  }
.accordion-header.active i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }  
.accordion-body {
    padding: 0 1rem;
    background-color: #f3f3f3;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }  
.accordion-body.active {
    max-height: 10rem;
    padding: 1rem;
  }